<!-- Table Start -->
<div>
    <div class="message-container">
        <!-- 2ND CARD -->
        <div class="messages-nav dashboard-card">
            <div class="row g-0" style="width: 100%;">
                <div class="col-lg-10">
                    <h4>Notifications</h4>
                </div>
            </div>

            <ul>
                <li>
                    <div class="check-all">
                        <div class="checkbox">
                            <input type="checkbox" id="select-all" name="select-all" title="read"
                             [checked]="masterSelected" (change)="checkUncheckAll($event)"
                            >
                            <label for="select-all">Select All</label>
                        </div>
                    </div>
                </li>

                <li class="link-card">
                    Unread
                    <span>({{unreaded.length}})</span>
                </li>

                <li class="link-card" (click)="showDeletionDialog()">
                    <i class="fa-solid fa-trash-can"></i>
                </li>
            </ul>

            <!-- <ul>
                <li class="link-card" (click)="showConfirmdelete()">
                    <i class="fa-solid fa-trash-can"></i>
                </li>
            </ul> -->
        </div>

        <!-- 3rd card -->
        <div class="main-messages dashboard-card">
            <div class="notification-container">
                <div class="notification-card" *ngFor="let item of user.notifications">
                    <div class="checkbox">
                        <input
                          type="checkbox"
                          id="read"
                          name="read"
                          title="read"
                          [checked]="item.isSelected"
                          value="{{item.id}}"
                          (change)="isAllSelected(item)"
                        >
                    </div>
                    <div class="date">
                        <p>{{item.date_added | date:'hh:mm a'}} {{item.date_added | date}}</p>
                    </div>
                    <div class="notification-content">
                        <p>{{item.message}}</p>
                    </div>
                            
            </div>
            
        </div>

    </div>
</div>
<!-- Table End -->