<!-- FOOTER SECTION -->
<footer class="footer-container">
  <div class="footer-section links">
      <div class="footer-contacts footer-card">
          <ul>
              <li>Achiever's place</li>
              <li>King'ong'o, Nyeri,</li>
              <li>Kenya</li>
              <li class="mgtop"><a href="tel:+254 724553437"> <strong>Call Us:</strong> +254 724 553 437</a></li>
              <li><a href="mailto:nicecoffeeexpo@gmail.com"><strong>Email:</strong> nicecoffeeexpo@gmail.com</a></li>
          </ul>
      </div>

      <div class="footer-links footer-card">
          <h2>QUICK LINKS</h2>
          <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/Products">Shop Coffee</a></li>
              <li><a routerLink="/attributions">Attribution</a></li>
              <li><a href="about#faqs">FAQs</a></li>
              <li><a routerLink="/Origin-Trip">Origin Trip</a></li>
          </ul>
          
      </div>

      <div class="footer-about footer-card">
          <h2>ABOUT US</h2>
          <ul>
              <li><a routerLink="/about">Our Story</a></li>
              <li><a href="about#partners">Partners</a></li>
          </ul>
      </div>

      <div class="footer-custservice footer-card">
          <h2>CUSTOMER SERVICE</h2>
          <ul>
              <li><a routerLink="/dash-board">My Account</a></li>
              <li>Orders and Returns</li>
              <li><a routerLink="/terms and conditions">Privacy and Return Policies</a></li>
              <li (click)="showFarmerSignUpDialog()">Sell on NiceDirect</li>
              <!-- <li>Become an Affiliate</li> -->
          </ul>
      </div>
  </div>

  <div class="footer-section copyright">
      <p>© Copyright NICE. All Rights Reserved</p>
      <!-- <p>Designed by r3t3p</p>

      <div class="payment">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-paypal"></i>
        <i class="fa-brands fa-cc-discover"></i>
        <i class="fa-brands fa-google-pay"></i>
        <i class="fa-brands fa-cc-amex"></i>
        <i class="fa-brands fa-apple-pay"></i>
      </div> -->
  </div>
</footer>
<!-- END OF FOOTER SECTION -->