<div class="farmerdetails-container">
  <div class="col">
    <app-tabs [tabsArray]="tabs" (onTabChange)="tabChange($event)" ></app-tabs>
  </div>
  
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">

        <!-- cooperative society farmer -->
        <form *ngIf="activatedTabIndex == 0" [formGroup]="firstFormGroup">
          <!-- <mat-slide-toggle (change)="toggleIsEstateFarmer()">Estate Farmer</mat-slide-toggle> -->
          <div class="form-content">
            <ng-template matStepLabel>Society Details</ng-template>
          
            <mat-form-field>
              <mat-label>County</mat-label>
              <input matInput placeholder="County" formControlName="county" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Country</mat-label>
              <input matInput placeholder="Country" formControlName="country" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label *ngIf="!isEstateFarmer">Wet Mill Name</mat-label>
              <input *ngIf="!isEstateFarmer" matInput placeholder="Wet Mill Name" formControlName="wet_mill_name" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Society Name</mat-label>
              <input matInput placeholder="Society Name" formControlName="society_name" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Factory Chairman</mat-label>
              <input matInput placeholder="Factory Chairman" formControlName="factory_chairman" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Factory Manager</mat-label>
              <input matInput placeholder="Factory Manager" formControlName="factory_manager" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Number Of Farmers</mat-label>
              <input matInput placeholder="Number Of Farmers" formControlName="no_of_farmers" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Number Of Male Farmers</mat-label>
              <input matInput placeholder="Number Of Male Farmers" formControlName="men" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Number Of Female Farmers</mat-label>
              <input matInput placeholder="Number Of Female Farmers" formControlName="women" required>
            </mat-form-field>
          </div>
        
          <div>
            <button type="button" mat-button matStepperNext>Next <i class="fa-solid fa-greater-than"></i></button>
          </div>
        </form>

        <!-- estate farmer -->
        <form *ngIf="activatedTabIndex == 1" [formGroup]="firstFormGroup">
          <!-- <mat-slide-toggle (change)="toggleIsEstateFarmer()">Estate Farmer</mat-slide-toggle> -->
          <div class="form-content">
            <ng-template matStepLabel>Estate Details</ng-template>
          
            <mat-form-field>
              <mat-label>County</mat-label>
              <input matInput placeholder="County" formControlName="county" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Country</mat-label>
              <input matInput placeholder="Country" formControlName="country" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Estate Name</mat-label>
              <input matInput placeholder="Estate Name" formControlName="estate_name" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Manager</mat-label>
              <input matInput placeholder="Factory Manager" formControlName="factory_manager" required>
            </mat-form-field>
          </div>
          
          <div>
            <button type="button" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <div class="form-content">
            <ng-template matStepLabel>Farm Details</ng-template>
            <mat-form-field>
              <mat-label>Total Acreage</mat-label>
              <input type="number" matInput placeholder="Total Acreage" formControlName="total_acreage" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Number Of Trees</mat-label>
              <input type="number" matInput placeholder="Number Of Trees" formControlName="no_of_trees" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Altitude (masl)</mat-label>
              <input matInput placeholder="Altitude" formControlName="altitude" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Harvest Season e.g July - Dec </mat-label>
              <input matInput placeholder="Harvest Season" formControlName="harvest_season" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Annual Rainfall in Ml</mat-label>
              <input matInput placeholder="Annual Rainfall Season" formControlName="annual_rainfall_amount" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Variety</mat-label>
              <input matInput placeholder="Coffee Variety" formControlName="coffee_variety" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Farming Method (Organic or Inorganic)</mat-label>
              <input matInput placeholder="Farming Method" formControlName="farming_method" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Certification Type</mat-label>
              <input matInput placeholder="Certification Type" formControlName="certification_type" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Soil Type</mat-label>
              <input matInput placeholder="Soil Type" formControlName="soil_type" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Processing Method</mat-label>
              <input matInput placeholder="Processing Method" formControlName="processing_method" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Cupping Notes</mat-label>
              <input matInput placeholder="Cupping Notes" formControlName="cupping_notes" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Availability e.g February - April</mat-label>
              <input matInput placeholder="Availability" formControlName="availability" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Location</mat-label>
              <input matInput placeholder="Location" formControlName="location" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Farm Area</mat-label>
              <input matInput placeholder="Farm Area" formControlName="farm_area" required>
            </mat-form-field>
          
          
            <mat-form-field>
              <mat-label>Grower's History</mat-label>
              <input matInput placeholder="Grower'S History" formControlName="grower_history" required>
            </mat-form-field>
          </div>
      
          <div>
            <button type="button" mat-button matStepperPrevious><i class="fa-solid fa-less-than"></i> Back</button>
            <button type="submit" class="submitbtn" (click)="submit()" mat-button>Submit</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
</div>