<!-- Form Start -->
<div>
    <div class="card-container">

        <!-- 1ST CARD -->
        <div class="dashboard-card info">
            <div class="card-header">
                <div>
                    <h5 *ngIf="user['user']['type']=='FARMER'">Manager's Details</h5>
                    <h5 *ngIf="user['user']['type']=='WAREHOUSER'">Warehouser's Details</h5>
                    <h5 *ngIf="user['user']['type']=='BUYER'">My Details</h5>
                </div>
            </div>
        
            <div class="details">
                <div class="picture">
                    <img *ngIf="user.profile_pic" src="{{cloudinaryUrl}}{{user['profile_pic']}}" alt="">
                    <img *ngIf="!user.profile_pic"
                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        alt="">
                    <input type="file" [(ngModel)]="picture" (change)="postProfilePicture($event)" enctype="multipart/form-data" id="file" name="file" title="file" class="file"  data-multiple-caption="{count} files selected" multiple>
                    <label for="file"><i class="fa-solid fa-camera"></i></label>
                </div>
        
                <div class="user-addinfo">
                    <p>Name: <span>{{user.user.username | titlecase}}</span></p>
                    <p>Phone Number: <span>+1 345678389</span></p>
                    <p>Email Address: <span>{{user.user.email}}</span></p>
                    <p *ngIf="profile && profile.estate_name != 'None'">Farmer Type: <span>Estate Farmer</span></p>
                    <p *ngIf="profile && profile.estate_name == 'None'">Farmer Type: <span>Society Farmer</span></p>

                </div>
            </div>
        </div>

        <!-- 2ND CARD(FARMER) -->
        <div class="dashboard-card user-info" *ngIf="user.user.type=='FARMER'">
            <h5 class="mb-4" *ngIf="profile && profile.estate_name != 'None'">Estate Details</h5>
            <h5 class="mb-4" *ngIf="profile && profile.estate_name == 'None'">Society Details</h5>
        
            <div *ngIf="profile">
                <ul *ngIf="profile" class="farmer-info">
                    <li>
                        County: <br>
                        <span *ngIf="profile">{{profile.county}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(1)"></i>
                    </li>

                    <li>
                        Country:<br>
                        <span *ngIf="profile">{{profile.country}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(2)"></i>
                    </li>

                    <li *ngIf="profile.estate_name == 'None'">
                        Wet Mill Name:<br>
                        <span *ngIf="profile">{{profile.wet_mill_name}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(3)"></i>
                    </li>

                    <li *ngIf="profile.estate_name == 'None'">
                        Society Name:<br>
                        <span *ngIf="profile">{{profile.society_name}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(4)"></i>
                    </li>

                    <li *ngIf="profile.estate_name != 'None'">
                        Estate Name:<br>
                        <span *ngIf="profile">{{profile.estate_name}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(4)"></i>
                    </li>

                    <li *ngIf="profile.estate_name == 'None'">
                        Factory Chairman:<br>
                        <span *ngIf="profile">{{profile.factory_chairman}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(5)"></i>
                    </li>

                    <li>
                        Factory Manager:<br>
                        <span *ngIf="profile">{{profile.factory_manager}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(6)"></i>
                    </li>

                    <li *ngIf="profile.estate_name == 'None'">
                        Number Of Farmers:<br>
                        <span *ngIf="profile">{{profile.no_of_farmers}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(7)"></i>
                    </li>

                    <li *ngIf="profile.estate_name == 'None'">
                        Male Farmers:<br>
                        <span *ngIf="profile">{{profile.men}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(8)"></i>
                    </li>

                    <li *ngIf="profile.estate_name == 'None'">
                        Female Farmers:<br>
                        <span *ngIf="profile">{{profile.women}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(9)"></i>
                    </li>

                    <li>
                        Total Acreage:<br>
                        <span *ngIf="profile">{{profile.total_acreage}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(10)"></i>
                    </li>

                    <li>
                        Number of Trees:<br>
                        <span *ngIf="profile">{{profile.no_of_trees}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(11)"></i>
                    </li>

                    <li>
                        Altitude:<br>
                        <span *ngIf="profile">{{profile.altitude}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(12)"></i>
                    </li>

                    <li>
                        Harvest Season:<br>
                        <span *ngIf="profile">{{profile.harvest_season}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(13)"></i>
                    </li>

                    <li>
                        Annual Rainfall Amt:<br>
                        <span *ngIf="profile">{{profile.annual_rainfall_amount}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(14)"></i>
                    </li>

                    <li>
                        Coffee Variety:<br>
                        <span *ngIf="profile">{{profile.coffee_variety}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(15)"></i>
                    </li>

                    <li>
                        Farming Method:<br>
                        <span *ngIf="profile">{{profile.farming_method}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(16)"></i>
                    </li>

                    <li>
                        Certification Type:<br>
                        <span *ngIf="profile">{{profile.certification_type}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(17)"></i>
                    </li>

                    <li>
                        Soil Type:<br>
                        <span *ngIf="profile">{{profile.soil_type}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(18)"></i>
                    </li>

                    <li>
                        Processing Method:<br>
                        <span *ngIf="profile">{{profile.processing_method}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(19)"></i>
                    </li>

                    <li>
                        Cupping Notes:<br>
                        <span *ngIf="profile">{{profile.cupping_notes}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(20)"></i>
                    </li>

                    <li>
                        Availability:<br>
                        <span *ngIf="profile">{{profile.availability}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(21)"></i>
                    </li>

                    <li class="farm-area">
                        Farm Area:<br>
                        <span *ngIf="profile">{{profile.farm_area}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(24)"></i>
                    </li>

                    <li class="history">
                        Grower's History:<br>
                        <span *ngIf="profile">{{profile.grower_history}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(22)"></i>
                    </li>

                    <li class="location">
                        Location:<br>
                        <span *ngIf="profile">{{profile.location}}</span>
                        <div *ngIf="profile">
                            <iframe
                                [src]="getSanitizedURL(profile.location)"
                                allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(23)"></i>
                    </li>
                    
                </ul>
            </div>
        </div>

        <!-- 2ND CARD(WAREHOUSER / ORIGIN WAREHOUSER) -->
        <div class="dashboard-card user-info" *ngIf="user.user.type=='WAREHOUSER' || user.user.type=='ORIGINWAREHOUSER'">
            <h5 class="mb-4">Warehouse Details</h5>

            <div>
                <ul class="warehouse-info">
                    <li>
                        Warehouse Name:<br>
                        <span>{{warehouse.name}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(2)"></i>
                    </li>

                    <li>
                        Warehouse Capacity:<br>
                        <span>{{warehouse.warehouse_area_storage}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(3)"></i>
                    </li>

                    <li>
                        Warehouse Contact info:<br>
                        <span></span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(4)"></i>
                    </li>

                    <li>
                        Warehoused Products:<br>
                        <span>{{warehouse.warehoused_products}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(4)"></i>
                    </li>

                    <li class="location">
                        Warehouse Location:<br>
                        <span>{{warehouse.location}}</span>
                        <div>
                            <iframe
                                [src]="getSanitizedURL(warehouse.location)"
                                allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(19)"></i>
                    </li>
                    
                </ul>
            </div>            
        </div>

        <!-- 2ND CARD(BUYER) -->
        <div class="dashboard-card user-info" *ngIf="user.user.type=='BUYER'">
            <h5 class="mb-4">My Details</h5>

            <div>
                <ul class="buyer-info">
                    <li>
                        Name:<br>
                        <span>{{user.user.username}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(2)"></i>
                    </li>

                    <li>
                        Phone Number:<br>
                        <span></span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(3)"></i>
                    </li>

                    <li>
                        Email Address:<br>
                        <span>{{user.user.email}}</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(4)"></i>
                    </li>

                    <li>
                        Shipping Address:<br>
                        <span>1234 Deliver Str</span>
                        <span>Denver, Colorado</span>
                        <i class="fa-solid fa-pencil" title="Edit" (click)="showEditDialog(4)"></i>
                    </li>
                    
                </ul>
            </div>            
        </div>

    </div>
</div>
<!-- Form End -->
