<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="row g-0" style="width: 100%;">
                    <div class="col-lg-10">
                        <h4 class="mb-4">Manifests</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table mat-table [dataSource]="manifests" class="mat-elevation-z8 demo-table table-light">
                        <ng-container matColumnDef="number">
                          <th mat-header-cell *matHeaderCellDef> Number </th>
                          <td mat-cell *matCellDef="let element"> {{element.number | uppercase}} - {{element.product.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="warehouser">
                          <th mat-header-cell *matHeaderCellDef> Warehouser</th>
                          <td mat-cell *matCellDef="let element"> {{element.warehouser.username | titlecase}} </td>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                          <th mat-header-cell *matHeaderCellDef> Quantity </th>
                          <td mat-cell *matCellDef="let element"> {{element.product.quantity}} </td>
                        </ng-container>
                        <ng-container matColumnDef="created_date">
                          <th mat-header-cell *matHeaderCellDef> Created On </th>
                          <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
                        </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns;"
                          ></tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
