.popularproduct-header p {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.order-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 95%;
    /* border: 2px solid red; */
    height: max-content;
    gap: 30px;
    margin-inline: auto;
}

.order-container .dashboard-card {
    background-color: #f2f2f2;
    border-radius: 4px;
    height: 100%;
    box-shadow: 0 0 5px #ccc;
}



/* table */
.order-container .orders-table {
    grid-area: 1 / 1 / 2 / 13;
}

table{
    background-color: white;
}
th,td{
    color: black;
}

@media (max-width: 768px) {
    .order-container {
        gap: 30px 10px;
    }
}