<app-navbar></app-navbar>

<section class="farmdetails-component">
    <div class="farmdetails-name">
        <p>Ndaroini Farm</p>
    </div>

    <!--  farm products section  -->
    <div class="farm-details-content">
        <div class="farm-products">
          <!-- sidebar -->
            <!-- <div class="sidebar">
              <div class="coffee-variety">

                <div class="widget-title" (click)=toggleVarietyOn()>
                  <h2>Coffee Variety&nbsp;
                    <i *ngIf="!isShowVariety" class="fa-solid fa-chevron-down"></i>
                    <i *ngIf="isShowVariety" class="fa-solid fa-chevron-up"></i>
                  </h2>
                </div>

                <ul *ngIf="isShowVariety">
                  <li class="customRadio">
                    <input type="radio" value="Variety1" id="Variety1" name="variety"  />
                    <label for="Variety1"><span><span></span></span>Variety 1</label>
                  </li>
      
                  <li class="customRadio">
                    <input type="radio" value="Variety2" id="Variety2" name="variety"  />
                    <label for="Variety2"><span><span></span></span>Variety 2</label>
                  </li>
      
                  <li class="customRadio">
                    <input type="radio" value="Variety2" id="Variety3" name="variety"  />
                    <label for="Variety3"><span><span></span></span>Variety 3</label>
                  </li>
      
                  <li class="customRadio">
                    <input type="radio" value="Variety2" id="Variety4" name="variety"  />
                    <label for="Variety4"><span><span></span></span>Variety 4</label>
                  </li>
      
                  <li class="customRadio">
                    <input type="radio" value="Variety2" id="Variety5" name="variety"  />
                    <label for="Variety5"><span><span></span></span>Variety 5</label>
                  </li>
      
                  <li class="customRadio">
                    <input type="radio" value="Variety2" id="Variety6" name="variety"  />
                    <label for="Variety6"><span><span></span></span>Variety 6</label>
                  </li>
                </ul>
              </div>

              <div class="coffee-price">
                <div class="widget-title" (click)=togglePriceOn()>
                  <h2>Price&nbsp;
                    <i *ngIf="!isShowPrice" class="fa-solid fa-chevron-down"></i>
                    <i *ngIf="isShowPrice" class="fa-solid fa-chevron-up"></i>
                  </h2>
                </div>
                
                <ul *ngIf="isShowPrice">
                  <li class="customRadio">
                    <input type="radio" value="farm1" id="price1" name="price"/>
                    <label for="price1"><span><span></span></span>All</label>
                  </li>
      
                <li class="customRadio">
                  <input type="radio" value="farm1" id="price2" name="price" />
                  <label for="price2" ><span><span></span></span> $1 - $50</label>
                </li>
      
                <li class="customRadio">
                  <input type="radio" value="farm2" id="price3" name="price" />
                  <label for="price3"><span><span></span></span> $51 - $100</label>
                </li>
      
                <li class="customRadio">
                  <input type="radio" value="farm2" id="price4" name="price" />
                  <label for="price4"><span><span></span></span>Price 5 - Price 6</label>
                </li>
                </ul>
              </div>
      
            </div> -->
      
          <!-- product list -->
            <div class="productlist">    
              <div class="productlist-content">
                <!-- *ngFor="let item of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" -->
                <div class="product-card" data-aos="fade-up">
                  <!-- product -->
                  <a routerLink="/Products/1" class="product-item">
                    <div class="product-image">
                        <img src="../../assets/img/packaging/coffee-bag-02.png" alt="package">
                    </div>
      
                    <div class="product-name">
                      <div class="name">
                        <p>Mettle</p>
                      </div>
                        
                      <!-- <div class="rating">
                        <p *ngIf=" averageRating(item) == 5">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </p>
                        <p *ngIf="averageRating(item) == 4">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </p>
                        <p *ngIf="averageRating(item) == 3">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </p>
                        <p *ngIf="averageRating(item) == 2">
                          <i class="fa-solid fa-star"></i>
                          <i class="fa-solid fa-star"></i>
                        </p>
                        <p *ngIf="averageRating(item) == 1">
                          <i class="fa-solid fa-star"></i>
                        </p>
                        <p *ngIf="averageRating(item) == 0">
                          
                        </p>
                      </div> -->
                    </div>
      
                    <div class="farm-name">
                      <p>Kiaragana Coffee Factory</p>
                    </div>
      
                    <div class="product-details">
                        <p>Origin: Kenya</p>
                        <p>18$  / 12oz</p>
                    </div>
      
                  </a>
      
                  <!-- add-actions -->
                  <div class="latestadd-actions product-addactions">
                    <a role="button">
                      Add To Cart <i class="fa-solid fa-cart-arrow-down"></i>
                    </a>
                    <a role="button" title="wishlist">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                  </div>
                </div>
              </div>
      
              <!-- <div class="products-pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div> -->
                                   
            </div>
          </div>
    </div>

    <div class="tabbed-info">

          <div class="col">
            <app-tabs [tabsArray]="tabs2" (onTabChange)="tabChange2($event)" ></app-tabs>
          </div>

          <div *ngIf="activatedTabIndex2 == 0" class="farm-tab">

            <div class="owners">
              <div class="owner-image">
                <img src="../../assets/img/farmers/farmer1.jpg" alt="owner image">
              </div>

              <div class="owner-bio">
                <div class="owner-name">
                  <!-- <h4>Owner: {{item.product.producer.username | titlecase}}</h4> -->
                </div>

                <div class="owner-info">
                  <p>Moses King'ori is no stranger to the coffee industry. His career began at Gerald's Coffee Estate in Nyeri. His commitment and passion for coffee led Moses to various coffee farms in Kenya, Africa. Among other things, he is responsible for and gives the coffee varieties of the Nyeri an even higher level thanks to his enormous expertise and down-to-earth attitude.</p>
                </div>

              </div>
            </div>

            <div class="farmdetails">

              <div class="farm-bio">

                <div class="farm-story">
                  <p>Geralds Coffee Estate was started in 1958 by our late father Gerald Kingori. He developed a passion for coffee in all of us and taught us to work on the coffee. Traditionally land is subdivided among sons when a father passes away but we have chosen to manage the estate as one. We work hard to maintain good agricultural practices like our father taught us and our goal is to consistently produce high quality coffee. We hope that soon we will start making good earnings from our hard work by selling our coffee directly to roasters.</p>
                </div>

                <div class="farm-origin">
                  <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;Location: Kiambu, Kenya</p>
                  <p><i class="fa-solid fa-tree"></i>&nbsp;&nbsp;Area: 150 Ha</p>
                  <p><i class="fa-solid fa-flag-checkered"></i>&nbsp;&nbsp;Founded: 1991</p>
               </div>
                
              </div>

              <div class="farm-images">
                <div class="farm-image">
                  <img src="../../assets/img/farm/farm1.jpg" alt="farm1">
                </div>
              </div>

            </div>

            <div class="morefarmdetails">
              <div class="map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.930759430594!2d36.82183079271866!3d-1.1726699277239063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3c6280decd87%3A0x1a1a1908e6fd13e9!2sKiambu!5e0!3m2!1sen!2ske!4v1696248692754!5m2!1sen!2ske"
                  allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                  title="map">
                </iframe>
              </div>

              <div class="history">
                <div class="history-info">
                  <table>
                    <thead>
                      <th>Year</th>
                      <th>Total</th>
                      <th>Specialty</th>
                    </thead>

                    <tbody>
                      <tr>
                        <td>2020</td>
                        <td>7,000</td>
                        <td>5,600</td>
                      </tr>

                      <tr>
                        <td>2019</td>
                        <td>8500</td>
                        <td>6800</td>
                      </tr>

                      <tr>
                        <td>2018</td>
                        <td>6,000</td>
                        <td>4,800</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="cycle-info">
                  <table>
                    <thead>
                      <th>Month</th>
                      <th>Main Season</th>
                    </thead>

                    <tbody>
                      <tr>
                        <td>January</td>
                        <td>Sale</td>
                      </tr>

                      <tr>
                        <td>February</td>
                        <td>Sale</td>
                      </tr>

                      <tr>
                        <td>March</td>
                        <td>Sale</td>
                      </tr>

                      <tr>
                        <td>April</td>
                        <td>Flowering</td>
                      </tr>

                      <tr>
                        <td>May</td>
                        <td>Flowering</td>
                      </tr>

                      <tr>
                        <td>June</td>
                        <td>Maturing</td>
                      </tr>

                      <tr>
                        <td>July</td>
                        <td>Maturing</td>
                      </tr>

                      <tr>
                        <td>August</td>
                        <td>Maturing</td>
                      </tr>

                      <tr>
                        <td>September</td>
                        <td>Maturing</td>
                      </tr>

                      <tr>
                        <td>October</td>
                        <td>Harvesting & Processing</td>
                      </tr>

                      <tr>
                        <td>November</td>
                        <td>Harvesting & Processing</td>
                      </tr>

                      <tr>
                        <td>December</td>
                        <td>Harvesting & Processing</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

          <div *ngIf="activatedTabIndex2 == 1" class="reviews-tab">

            <div class="average-reviews">
              <h4>Average Customer reviews</h4>
              <!-- <p *ngIf="averageRating(item) == 5">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p *ngIf="averageRating(item) == 4">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p *ngIf="averageRating(item) == 3">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p *ngIf="averageRating(item) == 2">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </p>
              <p *ngIf="averageRating(item) == 1">
                <i class="fa-solid fa-star"></i>
              </p>
              <p *ngIf="averageRating(item) == 0">
                
              </p> -->

                <span>
                  <!-- <p>{{averageRating(item)}} out of 5</p> -->
                </span>

            </div>

            <!-- <div *ngFor="let rating of item.rating" class="rating-card">
              <div class="user-icon">
                <div class="icon">{{rating.user.username.substring(0, 1) | titlecase}}</div>
                <div class="username">{{rating.user.username | titlecase}}</div>
              </div>

              <div class="user-rating">
                <p *ngIf="rating.rating == 5">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p *ngIf="rating.rating == 4">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p *ngIf="rating.rating == 3">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p *ngIf="rating.rating == 2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </p>
                <p *ngIf="rating.rating == 1">
                  <i class="fa-solid fa-star"></i>
                </p>

                <p class="verified">Verified Purchase</p>
              </div>

                <div class="ratinginfo">
                  <h4>Love It!!</h4>
                  <p>The best coffee I've ever heard.</p>
                </div>
              </div> -->
            </div>
        </div>
</section>

<app-footer></app-footer>