<header id="header" class="header-container header-transparent">
    <div class="navbar-container">

        <div class="logo">
          <a routerLink="/">
            <img src="../../assets/img/coffee_logo2.png" alt="coffee bean" class="img-fluid">
          </a>
        </div>

        <div class="mobile-icons">
            <ul>
                <li *ngIf="user" class="mobile-cart">
                    <a routerLink="/Cart" title="Cart"><i class="fa-solid fa-cart-shopping" [attr.value]="userCart"></i></a>
                </li>
                <li *ngIf="!user" class="mobile-cart">
                    <a routerLink="/Cart" title="Cart"><i class="fa-solid fa-cart-shopping two"></i></a>
                </li>
                <li *ngIf="!user">
                    <button (click)="showLoginDialog()" type="button" class="mobilelogin-btn" title="Log In">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </li>
                <li *ngIf="user" class="dropdown user-case"><a><span>Hello, {{user['username'] |titlecase}}</span><i class="fa-solid fa-chevron-down"></i></a>
                    <ul>
                        <li><a routerLink="/dash-board">My Account</a></li>
                        <li><a href="" (click)="logout()">Log out</a></li>
                    </ul>
                  </li>
            </ul>
        </div>

        <nav id="navbar" class="navbar">
            <ul class="navbar-links">
                <li><a class="nav-link active" routerLink="/">Home</a></li>
                <li><a class="nav-link shop" routerLink="/Products">Shop Coffee</a></li>
                <li class="dropdown"><a class="expo-link" routerLink="/Expo"><span>Expo</span> <i class="fa-solid fa-chevron-down"></i></a>
                    <ul>
                        <li><a routerLink="/Expo">NICE Expo</a></li>
                        <li><a href="Expo#sponsor">Sponsors</a></li>
                        <li><a href="Expo#exhibitor">Exhibitors</a></li>
                        <li><a (click)="showRegisterDialog()" class="register-expo">Register for NICE Expo</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="trip-link" routerLink="/Origin-Trip"><span>Origin Trip</span><i class="fa-solid fa-chevron-down"></i></a>
                    <ul>
                        <li><a routerLink="/Origin-Trip">Nyeri Origin Trip</a></li>
                        <li><a href="Origin-Trip#tips">Origin Trip Tips</a></li>
                        <li><a href="Origin-Trip#itinerary">Itinerary</a></li>
                        <li><a (click)="showTripRegisterDialog()" class="register-trip">Register for Origin Trip</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a routerLink="/about" class="about-link"><span>About Us</span><i class="fa-solid fa-chevron-down"></i></a>
                    <ul>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a href="about#how-it-works">How NiceDirect Works</a></li>
                        <li><a href="about#partners">Partners</a></li>
                        <li><a href="about#gallery">Gallery</a></li>
                        <li><a href="about#faqs">FAQ</a></li>
                    </ul>
                </li>
                <li>
                    <button type="button" title="sell coffee" class="nav-link sell" (click)="showFarmerSignUpDialog()">Sell Coffee</button>
                </li>
                
            </ul>
            <!-- <ul *ngIf="user" class="cart-icon">
                <li class="cart"><a routerLink="/Cart"><i class="fa-solid fa-cart-shopping" [attr.value]="userCart"></i></a></li>
            </ul>
            <ul *ngIf="!user" class="cart-icon">
                <li class="cart"><a routerLink="/Cart"><i class="fa-solid fa-cart-shopping two"></i></a></li>
            </ul> -->

            <span *ngIf="!isMenuOpen" class="burger" (click)="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </span>
            
        </nav>

        <!-- mobile nav -->
        <nav *ngIf="isMenuOpen" class="navbar-mobile">
            <span class="burger" (click)="toggleMenu()">
                <i class="fa-solid fa-x"></i>
            </span>
            <ul class="navbar-links">
                <li (click)="toggleMenu()"><a class="nav-link active" routerLink="/">Home</a></li>
                <li (click)="toggleMenu()"><a class="nav-link shop" routerLink="/Products">Shop Coffee</a></li>

                <li (click)=toggleDivOn() class="expo dropdown-header"><span>Expo</span><i class="fa-solid fa-chevron-down"></i></li>
                <div *ngIf="isShowDiv" class="dropdown">
                    <ul>
                        <li (click)="toggleMenu()"><a routerLink="/Expo">NICE Expo</a></li>
                        <li (click)="toggleMenu()"><a href="Expo#sponsor">Sponsors</a></li>
                        <li (click)="toggleMenu()"><a href="Expo#exhibitor">Exhibitors</a></li>
                        <li><a (click)="showRegisterDialog()" class="register-expo">Register for NICE Expo</a></li>
                    </ul>
                </div>

                <li (click)=toggleDivOn2() class="trip-link dropdown-header"><span> Origin Trip</span><i class="fa-solid fa-chevron-down"></i></li>
                <div *ngIf="isShowDiv2" class="dropdown">
                    <ul>
                        <li (click)="toggleMenu()"><a routerLink="/Origin-Trip">Nyeri Origin Trip</a></li>
                        <li (click)="toggleMenu()"><a href="Origin-Trip#tips">Origin Trip Tips</a></li>
                        <li (click)="toggleMenu()"><a href="Origin-Trip#itinerary">Itinerary</a></li>
                        <li><a (click)="showTripRegisterDialog()" class="register-trip">Register for Origin Trip</a></li>
                    </ul>
                </div>

                <li (click)=toggleDivOn3() class="about-link dropdown-header"><span>About Us</span><i class="fa-solid fa-chevron-down"></i></li>
                <div *ngIf="isShowDiv3" class="dropdown">
                    <ul>
                        <li (click)="toggleMenu()"><a routerLink="/about">About Us</a></li>
                        <li (click)="toggleMenu()"><a href="about#how-it-works">How NiceDirect Works</a></li>
                        <li (click)="toggleMenu()"><a href="about#partners">Partners</a></li>
                        <li (click)="toggleMenu()"><a href="about#gallery">Gallery</a></li>
                        <li (click)="toggleMenu()"><a href="about#faqs">FAQ</a></li>
                    </ul>
                </div>
                <li (click)="toggleMenu()"><a class="nav-link sell" (click)="showFarmerSignUpDialog()">Sell Coffee</a></li>
                
            </ul>
            
        </nav>
        
        <div class="credentials-nonmobile">
            <ul *ngIf="user" class="cart-icon">
                <li class="cart">
                    <a routerLink="/Cart" title="Cart">
                        <i class="fa-solid fa-cart-shopping" [attr.value]="userCart"></i>
                    </a>
                </li>
            </ul>
            <ul *ngIf="!user" class="cart-icon">
                <li class="cart">
                    <a routerLink="/Cart" title="Cart">
                        <i class="fa-solid fa-cart-shopping two"></i>
                    </a>
                </li>
            </ul>

            <ul class="navbar-login" *ngIf="!user">
                <li>
                    <button title="Log In" (click)="showLoginDialog()" type="button">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </li>
                <!-- <li>
                    <button (click)="showSignUpDialog()" type="button"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;&nbsp;Sign Up</button>
                </li> -->
            </ul>

            <ul *ngIf="user">
              <li>
                <div class="navbar">
                  <ul>
                    <li class="dropdown user-case"><a><span>Hello, {{user['username'] |titlecase}}</span><i class="fa-solid fa-chevron-down"></i></a>
                      <ul>
                        <li><a routerLink="/dash-board">My Account</a></li>
                        <li><a href="" (click)="logout()">Log out</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
        </div>

    </div>
</header>