<app-navbar></app-navbar>

<section class="farm-component">
    <!-- farm origin hero -->
    <div class="farmorigin-hero">
        <h2>
            <i class="fa-solid fa-location-dot"></i>
            KIAMBU,
        </h2>
        <p>
            KENYA
        </p>
    </div>

     <!-- farm searchbar -->
     <div class="farm-searchbar">

        <div class="navbar-input">
      
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search farm" id="search" name="search">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
      
        </div>
      
    </div>

    <!-- farm-list -->
    <div class="farm-list">
        <a class="places-card geralds-place"  routerLink="/farm/1">
            <div class="places-header">
                <h2>GERALD'S ESTATE</h2>
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
            </div>
        </a>

        <a class="places-card ragis-place" routerLink="/farm/1">
            <div class="places-header">
                <h2>RAGIS'S ESTATE</h2>
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
            </div>
        </a>

        <a class="places-card ndaroini-place" routerLink="/farm/1">
            <div class="places-header">
                <h2>NDAROINI ESTATE</h2>
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
            </div>
        </a>
    </div>
</section>

<app-footer></app-footer>