<div class="tripregister-container">
    <h3>Complete the <span>Registration</span> form below to continue.</h3>

    <form ngNativeValidate>
        <div class="fname-input">
            <label for="fname">First Name<sup>*</sup></label>
            <input id="fname" name="fname" placeholder="John" class="form-control"
                type="text" required>
        </div>

        <div class="lname-input">
            <label for="lname">Last Name<sup>*</sup></label>
            <input id="lname" name="lname" placeholder="Doe" class="form-control"
                type="text" required>
        </div>

        <div class="company-input">
            <label for="company">Company Name<sup>*</sup></label>
            <input id="company" name="company" placeholder="ABCD Ltd" class="form-control"
                type="text" required>
        </div>

        <div class="businesstype-input">
            <select title="business-type" id="business-type" class="selection" name="Business-Type" required>
                <option value="" disabled selected>Choose Business Type...<sup>*</sup></option>
                <option value="Importer">Importer</option>
                <option value="Roaster">Roaster</option>
                <option value="Cafe">Cafe</option>
                <option value="Importer/Roaster">Importer/Roaster</option>
                <option value="Roaster/Cafe">Roaster/Cafe</option>
                <option value="Importer/Roaster/Cafe">Importer/Roaster/Cafe</option>
            </select>
        </div>

        <div class="designation-input">
            <label for="designation">Your Designation<sup>*</sup></label>
            <input id="designation" name="designation" placeholder="CEO" class="form-control"
                type="text" required>
        </div>


        <div class="email-input">
            <label for="email">Email<sup>*</sup></label>
            <input id="email" name="email" placeholder="johndoe@gmail.com" class="form-control"
                type="email" required>
        </div>

        <div class="phone-input">
            <label for="phone">Phone Number<sup>*</sup></label>
            <input id="phone" name="phone" placeholder="+254 000000000" class="form-control"
                type="tel" required>
        </div>

        <div class="address-input">
            <label for="address">Full Address<sup>*</sup></label>
            <input id="address" name="address" placeholder="495 Grove Str, New York, NY, USA" class="form-control"
                type="text" required>
        </div>

        <div class="website-input">
            <label for="website">Your Website Address</label>
            <input id="website" name="website" placeholder="coffeeroasters.com" class="form-control"
                type="url" required>
        </div>

        <div class="relationship-input">
            <p>Do you have direct relationships with farmers?</p>

            <div class="relationship-content">
                <div class="relationship-radio yes">
                    <input type="radio" id="relationship-yes" name="relationship" value="Yes">
                    <label for="relationship-yes">&nbsp;Yes</label>
                </div>
    
                <div class="relationship-radio no">
                    <input type="radio" id="relationship-no" name="relationship" value="No">
                    <label for="relationship-no">&nbsp;No</label>
                </div>
            </div>
        </div>

        <div class="bought-input">
            <p>Have you bought Kenyan coffee in the past two years?</p>

            <div class="bought-content">
                <div class="bought-radio yes">
                    <input type="radio" id="bought-yes" name="bought" value="Yes">
                    <label for="bought-yes">&nbsp;Yes</label>
                </div>
    
                <div class="bought-radio no">
                    <input type="radio" id="bought-no" name="bought" value="Yes">
                    <label for="bought-no">&nbsp;No</label>
                </div>
            </div>
        </div>

        <div class="purchase-input">
            <label for="purchase">Projected annual purchase of Kenyan coffee (Kgs)</label>
            <input id="purchase" name="purchase" placeholder="300kgs" class="form-control"
                type="number" required>
        </div>

        <button mat-raised-button type="submit">SUBMIT</button>

        <div class="form-extras">
            <p>By continuing, you agree to Our Business Terms of Service; and acknowledge you've read our
                Privacy Policy;</p>
        </div>        
    </form>
</div>
