.main-container {
    display: flex;
    width: 100%;
    
    /* gap: 1rem; */
    /* height: calc(100vh - 5rem); */
    position: relative;
    top: 5rem;
    /* border: 2px solid red; */
}

.main { 
    width: 80%;
    position: relative;
    background-color: #ffffff;
    left: 20%;
    margin-block: 1rem;
    /* border: 2px solid black; */
    /* height: max-content; */
    /* height: calc(100vh - 5rem); */
}

.side-nav {
    /* border: 2px solid red; */
    min-width: 20%;
    max-width: 20%;
    background-color: #f2f2f2;
    position: fixed;
    z-index: 2;
    top: 5rem;
    overflow: auto;
    height: calc(100% - 5rem);
}

@media (max-width: 768px) {
    .main { 
        width: 70%;
        left: 30%;
    }

    .side-nav {
        min-width: 30%;
        max-width: 30%;
    }
}

@media (max-width: 600px) {
    .side-nav {
        min-width: 55px;
        max-width: 100px;
    }

    .main { 
        width: calc(100vw - 110px);
        left: 100px;
    }
}

@media (max-width: 425px) {
    .main {
        width: 100%;
        height: auto;
        position: relative;
        top: 6rem;
        left: 0;
    }

    .main-container {
        flex-direction: column;
    }

    .side-nav {
        min-width: 100%;
        max-width: 100%;
        position: fixed;
        z-index: 2;
        height: 6rem;
    }
}
