<!-- Modal content -->
<div class="modal-contents">
    <!-- <span class="modal-close" (click)="toggleModal()">
        <i class="fa-solid fa-x"></i>
      </span> -->

      <div class="product-form">
          <div class="col">
              <app-tabs [tabsArray]="tabs" (onTabChange)="tabChange($event)"></app-tabs>
          </div>
  
          <div *ngIf="activatedTabIndex == 0" class="roasted">
  
              <form action="" method="post" ngNativeValidate>
                  <div class="option-list">
                      <select id="packsize" name="packsize" title="packsize" required>
                          <option value="" disabled selected>Choose Pack Size...</option>
                          <option value="18.80|12oz">12oz ($18.80)</option>
                          <option value="46.80|32oz">32oz ($46.80)</option>
                          <option value="68.20|3lbs">3lbs ($68.20)</option>
                          <option value="68.20|3lbs">5lbs ($113.00)</option>
                      </select>
      
                      <select id="grind" name="grind" title="grind" required>
                          <option value="" disabled selected>Choose Grind...</option>
                          <option value="Whole beans">Whole beans</option>
                          <option value="Extra coarse">Extra coarse (Cold brews)</option>
                          <option value="Coarse">Coarse (French press/percolators)</option>
                          <option value="Medium-coarse">Medium-coarse (Chemex/clever drippers)</option>
                          <option value="Medium">Medium (Drip/regular)</option>
                          <option value="Medium-fine">Medium-fine (Pour overs/siphon)</option>
                          <option value="Fine">Fine (Espresso)</option>
                          <option value="Super-fine">Super-fine (Turkish)</option>
                      </select>
      
                      <select id="roast" name="roast" title="roast" required>
                          <option value="" disabled selected>Choose Roast Type...</option>
                          <option value="Light">Light</option>
                          <option value="Medium/light">Medium/light</option>
                          <option value="Medium">Medium</option>
                          <option value="Medium/dark">Medium/dark</option>
                          <option value="Dark">Dark</option>
                      </select>
                  </div>
  
                  <div class="radio">
                      <div class="radio1">
                          <input type="radio" id="onetime" name="subscribe" value="one-time" (click)=toggleDivOff2() checked>
                          <label for="onetime">One time purchase</label><br>
                      </div>

                      <div class="radio2">
                          <input type="radio" id="subscribe" name="subscribe" value="subscribed" (click)=toggleDivOn2()>
                          <label for="subscribe">Subscribe & save 10%</label><br>
                      </div>
  
                      <div *ngIf="isShowDiv2">
                          <select id="delivery" name="delivery" title="delivery" required>
                              <option value="">Choose Delivery Period...</option>
                              <option value="2 weeks">Deliver every 2 weeks</option>
                              <option value="3 weeks">Deliver every 3 weeks</option>
                              <option value="month">Deliver every month</option>
                              <option value="6 weeks">Deliver every 6 weeks</option>
                              <option value="2 months">Deliver every 2 months</option>
                          </select>
                      </div>
                  </div>
  
                  <div class="incrdecr">
                      <div (click)=decrement() class="decrement">-</div>
                      <input type="number" name="quantity" id="counting" [(ngModel)]="number_value" (change)="check($event)" title="input-count">
                      <div (click)=increment() class="increment">+</div>
                  </div>
  
                  <div class="submit-btn">
                      <button type="submit">ADD TO CART&nbsp; <i class="fa-solid fa-cart-arrow-down"></i></button>
                      <a routerLink="/Checkout" class="buy">BUY NOW</a>
                  </div>
  
              </form>
          </div>
  
          <div *ngIf="activatedTabIndex == 1" class="green">
              <div class="packaging">
                  <p>Packaging</p>
                  <p>Grainpro & Outer Jutebag</p>
              </div>
  
              <div class="price-lb">
                  <p>Price/Lb</p>
  
                  <div class="lb">
                      <p>1 - 660 lbs</p>
                      <p>660lbs +</p>
                  </div>
  
                  <div class="lb-price">
                      <p>- $7.70</p>
                      <p>- $6.93</p>
                  </div>
              </div>
  
              <form action="/" method="post" ngNativeValidate>
                  <div class="radio">
                      <div class="radio1">
                          <input type="radio" id="onetime" name="subscribe" value="one-time" (click)=toggleDivOff() checked>
                          <label for="onetime">One time purchase</label><br>
                      </div>

                      <div class="radio1">
                          <input type="radio" id="subscribe" name="subscribe" value="subscribed" (click)=toggleDivOn()>
                          <label for="subscribe">Subscribe & save 10%</label><br>
                      </div>

                      <div *ngIf="isShowDiv">
                          <select id="delivery2" name="delivery" title="delivery" required>
                              <option value="">Choose Delivery Period...</option>
                              <option value="2 weeks">Deliver every 2 weeks</option>
                              <option value="3 weeks">Deliver every 3 weeks</option>
                              <option value="month">Deliver every month</option>
                              <option value="6 weeks">Deliver every 6 weeks</option>
                              <option value="2 months">Deliver every 2 months</option>
                          </select>
                      </div>
                  </div>
  
                  <div class="incrdecr">
                      <div (click)=decrement2() class="decrement">-</div>
                      <input type="number" name="green-quantity" id="green-counting" [(ngModel)]="number_value2" (change)="check2($event)" title="input-count">
                      <div (click)=increment2() class="increment">+</div>
                  </div>
  
                  <div class="submit-btn">
                      <button type="submit">ADD TO CART&nbsp; <i class="fa-solid fa-cart-arrow-down"></i></button>
                      <a routerLink="/Checkout" class="buy">BUY NOW</a>
                  </div>
  
              </form>
  
          </div>
      </div>

  </div>