:host ::ng-deep #header {
    background-color: #f6f6f6;
}

:host ::ng-deep footer {
    position: relative;
    top: 76px;
}

.terms-container {
    position: relative;
    top: 76px;
    margin-bottom: 76px;
    padding: 1rem;
}

.indextxtingz {
    color: #1462af;
    text-align: center;
}