<div class="container">
    <h2>Processed Product</h2>
    <h3>Add Product.</h3>
    <form (ngSubmit)="PostProduct(data.id)">
        <div class="img-input">
            <label for="img">Product Image</label>
            <input id="email" name="email" placeholder="email" (change)="onImageChange($event)" class="form-control form-control"
                type="file" required>
        </div>

        <div class="quantity-input">
            <label for="quantity">quantity</label>
            <input input id="quantity" name="quantity" placeholder="quantity"
                class="form-control" required>
        </div>

        <button mat-raised-button type="submit">Add</button>     
    </form>
</div>