.login-container{
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-weight: 500;
    text-align: center;
    padding-bottom: 8px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    position: relative;
    overflow: hidden;
}

.login-container form .input-card {
    margin-bottom: 30px;
}

.login-container form .password-input {
    margin-bottom: 10px;
}

.login-container form .signup-visibility {
    margin-block: 10px;
}

.login-container form input {
    width: 100%;
    border: 1px solid #8080807a;
    border-radius: 4px;
    height: 35px;
    padding-inline: .5rem;
}

/* input animations */
.label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
    transition: all .1s linear;
  }

  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 2px 5px;
    box-sizing: border-box;
    transition: all .1s linear;
  }
  
  .label-float input:required:invalid + label {
    color: #000000b7;
  }

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    color: #000000b7;
  }
/* end of input animations */

.login-container form input:focus {
    border: 1px solid #0000ff59;
    box-shadow: none;
}

.login-container form button {
    width: 100%;
    background-color: black;
    color: #fff;
    border-radius: 0;
    height: 45px;
    font-size: 1.2rem;
}

.login-container form .form-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-container form .form-extras p.terms-text {
    font-size: 15px;
}

.login-container form .password-input p,
.login-container form .form-extras p a,
.login-container form p.forgotten {
    color: blue;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.login-container form .password-input p:hover,
.login-container form .form-extras p a:hover,
.login-container form p.forgotten:hover {
    text-decoration: underline;
}

.login-container form .form-extras p a.signup-link {
    font-weight: bold;
}

.login-container .signup-visibility {
    display: flex;
}

.login-container #myInput {
    width: 20px;
    height: 20px;
}

@media (max-width: 375px) {
    .login-container {
        padding: 5px;
    }
}