<div class="login-container">
    <h3>Sign in</h3>

    <form (ngSubmit)="loginUser()" ngNativeValidate>
        <div class="label-float">
            <input id="email" name="email" [(ngModel)]="email" class="form-control"
                type="email" placeholder=" " required>
            <label for="email">Email</label>
        </div>

        <div class="label-float">
            <input id="password" name="password" [(ngModel)]="password" class="form-control"
            type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
            <label for="password">Password</label>
        </div>

        <p class="forgotten">Forgotten Password?</p>

        <div class="signup-visibility input-card">
            <div>
                <input type="checkbox" (click)="togglePasswordVisibility()" id="myInput" title="visibility">
            </div>
            <div>
                <label for="myInput">&nbsp;Show Password</label>
            </div>
        </div>

        <button mat-raised-button type="submit">Log In</button>

        <div class="form-extras">
            <p class="py-2">Dont have an account?<br><a class="signup-link" (click)="showSignUpDialog()">Sign up</a></p>
            <p  class="terms-text">By continuing, you acknowledge you've read our <a mat-dialog-close routerLink="/terms and conditions">Privacy Policy</a> and agree to <a routerLink="/terms and conditions" mat-dialog-close>Our Terms of Service</a></p>
        </div>        
    </form>
</div>
