.login-container{
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* h1 {
    font-weight: 500;
    font-style: italic;
    color: rgb(255, 192, 1);
    font-size:xx-large;
} */

h2 {
    font-size: 30px;
}
h3 {
    font-weight: 500;
    text-align: center;
}

/* .banner {
    width: 100%;
}

img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 50px;
} */

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-container form input {
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    height: 3pc;
    padding-inline: .5rem;
}

.login-container form button {
    width: 100%;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}

.login-container form .form-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.login-container form .password-input p,
.login-container form .form-extras p a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 375px) {
    .login-container {
        padding: 5px;
    }
}