<div class="login-container">
    <h1><img src="../../assets/images/d90a1c41c1294e9ebd3e6cba576ae35f.png" alt=""></h1>
    <h2>Password Confirmation</h2>
    <p>Confirm using your password.</p>

    <form (ngSubmit)="postNewEmail()">
        <div class="password-input">
            <label for="password">Password</label>
            <input id="password" name="password" placeholder="password" [(ngModel)]="password" class="form-control form-control"
                type="password" required>
        </div>
        <button mat-raised-button type="submit">Confirm</button>    
    </form>
</div>