<section class="cart-component">
  <app-navbar></app-navbar>

  <div class="cart-container">
    <div class="cart-header">
      <h2>Your Cart</h2>
    </div>

    <ng-container *ngIf="userCart.length != 0">

      <div class="cart-contents">
          <div class="cart-table">
            <table mat-table [dataSource]="userCart">

                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef> Product </th>
                  <td mat-cell *matCellDef="let element">
                    <img src="{{cloudinaryUrl}}{{element['product']['img']}}" alt="Product Image">
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td  mat-cell *matCellDef="let element"> {{element.product.product.name}} </td>
                </ng-container>
 
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef> Quantity </th>
                  <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>
    
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.price | currency:'USD'}} </td>
                </ng-container>
    
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="removeItem(element.id)" mat-fab color="warn" aria-label="Example icon button with a delete icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <div class="cartcontents-mobile" *ngFor="let element of userCart">
            <div class="image">
              <img src="{{cloudinaryUrl}}{{element['product']['img']}}" alt="Product Image">
            </div>

            <div class="product-content">
              <div class="product-info">
                <div class="product-name">
                  <p>{{element.product.name}}</p>
                </div>
  
                <div class="product-price">
                  <p>${{element.price}}</p>
                </div>
              </div>
  
              <div class="product-quantity">
                <p>{{element.quantity}}</p>
              </div>
  
              <div class="product-action">
                <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="summary-container">
            <h4>CART SUMMARY</h4>
            <h4>Sub Total: <span>{{subTotal(userCart) | currency:'USD'}}</span></h4>
            <div class="completion">
              <button (click)="Pay(subTotal(userCart))" mat-raised-button>CHECKOUT ({{subTotal(userCart) | currency:'USD'}})</button>
            </div>
          </div>

      </div>
    </ng-container>

    <ng-container *ngIf="userCart.length == 0">
      <div class="cartempty-container">
        <div class="cart-image">
          <!-- <img src="../../assets/img/empty-cart.png" alt="cart"> -->
          <lottie-player src="https://lottie.host/93a50f3e-661a-4fe0-ab14-8c173b059bc6/HExNGdeD9F.json" background="#ffffff" speed="1" loop autoplay direction="1" mode="normal"></lottie-player>
        </div>
      
        <div class="cart-contents">
          <h4>mmmmhh... seems like your Cart is Empty!</h4>
          <h6>Add item(s) to it now</h6>
          <a routerLink="/Products">SHOP NOW&nbsp;<i class="fa-solid fa-cart-arrow-down"></i></a>
        </div>
      </div>
    </ng-container>
  </div>

    


  <app-footer></app-footer>
</section>