:host ::ng-deep #header {
  background-color: #f6f6f6;
}

:host ::ng-deep #header .navbar .active {
  background-color: transparent;
  color: #000000;
}

:host ::ng-deep footer {
  position: relative;
  top: 75px;
}


  /* CART STYLING */
  /* .cart-container {
    border: 2px solid blue;
  } */
/* .row g-0{
  margin: 15px;
} */
.cart-container {
  position: relative;
  top: 75px;
  margin-bottom: 75px;
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 500px;
}

.cart-container .cart-header {
  text-align: center;
}

.cart-container .cart-header h2 {
  font-size: 3rem;
}


.cart-container .cart-contents {
  display: flex;
  justify-content: space-between;
}


  .cart-container .cart-contents .cart-table {
    /* border: 2px solid red; */
    padding: .5rem;
    width: 75%;
    box-shadow: 0 0 5px #ccc;
  }

  .cart-container .cart-contents .cart-table table {
    /* border: 2px solid green; */
    background-color: white;
    /* width: 100%; */
    /* border-collapse: collapse; */
  }

  .cart-table table tr {
    border-bottom: 2px solid #00000036;
    font-family: Outfit;
  }

  .cart-table table th {
    text-transform: uppercase;
  }

  .cart-table table th,
  .cart-table table td {
    color: #000000;
    font-family: Outfit;
    font-weight: 500;
  }

  .cart-table table td img {
    width: 130px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    /* border: 2px solid red; */
  }

  .cartcontents-mobile {
    display: none;
  }

  .cartcontents-mobile .image {
    width: 30%;
    height: 200px;
  }

  .cartcontents-mobile .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .summary-container {
    border: 2px solid #00000024;
    /* position: relative; */
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    width: 23%;
  }

  .summary-container h4 {
    font-size: medium;
    padding: .5rem;
    margin-top: 10px;
  }

  .summary-container span {
    float: right;
    font-size: large;
    font-weight: bold;
  }

  .completion{
    padding: 10px;
    width: 100%;
  }
  .completion button{
    width: 100%;
    background-color: #000000;
  }
  .card{
    padding: 10px;
  }

  /* when cart is empty */
  .cartempty-container {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: auto;
  }

  .cartempty-container > * {

    padding: .5rem;
  }

  .cartempty-container .cart-image {
    height: 300px;
  }

  .cartempty-container .cart-image img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
  }

  .cartempty-container .cart-image lottie-player {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
    /* width: 300px; */
  }

  .cartempty-container .cart-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .cartempty-container .cart-contents a {
    background-color: #000000;
    color: #fff;
    padding: .3rem .5rem;
    transition: all .3s ease-in-out;
    border: 2px solid #000000;
  }

  .cartempty-container .cart-contents a:hover {
    background-color: #f7f7f7;
    color: #000000;
    letter-spacing: 3px;
    border: 2px solid #000000;
  }

/* CART media queries */
  @media (max-width: 768px) {
    .cart-container .cart-contents {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    .cart-container .cart-contents .cart-table {
      width: 100%;
    }

    .summary-container {
      width: 80%;
    }
  }

  @media (max-width: 600px) {
    .cartcontents-mobile {
      background-color: #f4f9fc;
      padding: .5rem;
      display: flex;
      gap: .5rem;
      width: 90%;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.5rem;
    }

    .cartcontents-mobile p {
      font-weight: 500;
    }

    .cartcontents-mobile .product-content {
      display: flex;
      justify-content: space-between;
      width: 60%;
      align-items: center;
    }

    .cart-container .cart-contents .cart-table {
      display: none;
    }
  }

  @media (max-width: 425px) {
    .cartcontents-mobile {
      width: 100%;
    }
  }

  @media (max-width: 320px) {
    .cartcontents-mobile .product-content {
      flex-direction: column;
      gap: .5rem;
    }
  }


