/* :host ::ng-deep #header {
  background-color: #f6f6f6;
} */

:host ::ng-deep #header .navbar a,
:host ::ng-deep #header .navbar button {
  color: #fff;
}

:host ::ng-deep #header .navbar .dropdown ul a {
  color: #2f4d5a;
}

/* :host ::ng-deep #header .navbar ul li i.fa-chevron-down {
  color: #000000;
} */

:host ::ng-deep #header .navbar ul li i {
  color: #fff;
}


:host ::ng-deep #header .navbar .active {
  background-color: transparent;
  color: #ffffff;
}

:host ::ng-deep #header .navbar-mobile .active {
  color: #2f4d5a;
  background-color: transparent;
}

:host ::ng-deep #header .navbar-mobile .active:hover,
:host ::ng-deep #header .navbar .active:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

:host ::ng-deep #header .navbar .expo-link,
:host ::ng-deep #header .navbar-mobile .expo {
  background-color: rgba(255, 255, 255, 0.2);
  /* color: #000000; */
}

:host ::ng-deep #header.header-scrolled .navbar a,
:host ::ng-deep #header.header-scrolled .navbar button,
:host ::ng-deep #header.header-scrolled .navbar ul li i.fa-chevron-down,
:host ::ng-deep #header.header-scrolled .navbar ul li i.fa-cart-shopping,
:host ::ng-deep #header.header-scrolled .fa-circle-user {
  color: #000000;
}

:host ::ng-deep #header .fa-circle-user {
  color: #ffffff;
}

:host ::ng-deep #header.header-scrolled .navbar .active {
  background-color: transparent;
  color: #000000;
}

:host ::ng-deep #header .navbar .dropdown ul li:hover > a {
  color: #67b0d1;
}

:host ::ng-deep #header.header-scrolled .navbar li:hover>a,
:host ::ng-deep #header.header-scrolled .navbar .expo,
:host ::ng-deep #header.header-scrolled .navbar .active:hover,
:host ::ng-deep #header.header-scrolled .navbar .expo-link {
  background-color: #eccece;
}

:host ::ng-deep #header .navbar .dropdown ul a:hover {
  background-color: transparent;
}

:host ::ng-deep #header .navbar .cart a:hover,
:host ::ng-deep #header.header-scrolled .navbar .cart a:hover {
  background-color: transparent;
}

/* .expo-container {
  border: 2px solid black; 
} */

/* .expo-container .video-container > * {
  border: 2px solid red;
} */

