<div *ngIf="!is_producer && !is_warehouser" class="signup-container">
    <h3>Register as a Farmer</h3>

    <form (ngSubmit)="registerBuyer()" ngNativeValidate>
        <div class="label-float">
            <input id="username" name="username" [(ngModel)]="username" class="form-control"
                type="username" placeholder=" " required>
            <label for="username">Full Name</label>
        </div>

        <div class="label-float">
            <input id="email" name="email" [(ngModel)]="email" class="form-control"
                type="email" placeholder=" " required>
            <label for="email">Email</label>
        </div>

        <div class="label-float">
            <input id="phone" name="phone" [(ngModel)]="phone" class="form-control"
                type="tel" placeholder=" " required>
            <label for="phone">Phone Number</label>
        </div>

        <div class="label-float">
            <input id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password" class="form-control"
            type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
            <label for="confirm_password">Confirm Password</label>
        </div>

        <div class="label-float">
            <input id="password" name="password" [(ngModel)]="password" class="form-control"
            type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder=" " required>
            <label for="password">Password</label>
        </div>
        
        <password-strength-meter [password]="password"></password-strength-meter>
        
        <div class="signup-visibility input-card">
            <div>
                <input type="checkbox"(click)="togglePasswordVisibility()" id="myInput" title="visibility">
            </div>
            <div>
                <label for="myInput" class="show-pass">&nbsp;Show Password</label>
            </div>
        </div>
        
        <button mat-raised-button type="submit">Register</button>

        <div class="signup-extras">
            <p class="clo-lg-5 text-center py-2">Have an account?<br><a class="login-link" (click)="showLoginDialog()">Log In</a></p>
            <p class="terms-text">By continuing, you acknowledge you've read our <a mat-dialog-close routerLink="/terms and conditions">Privacy Policy</a> and agree to <a routerLink="/terms and conditions" mat-dialog-close>Our Terms of Service</a></p>
        </div>
        
    </form>
</div>
