<app-navbar></app-navbar>

<section class="origin-component">
    <!-- origin navbar -->
    <div class="origin-navbar">

        <div class="navbar-input">
      
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search origin" id="search" name="search">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
          </div>
      
        </div>
      
    </div>

    <!-- origin seclection by -->
    <div class="selection">
        <div class="country-selector">
            <select class="crs-country" title="country" data-region-id="region" data-default-option="Select a country"></select>
        </div>

        <div class="region-selector">
            <select id="region" title="region" data-blank-option="No country selected" data-default-option="Select a region"></select>
        </div>
        
    </div>

    <!-- origin list -->
    <div class="origin-list">
        <a class="places-card geralds-place"  routerLink="/farms/1">
            <div class="places-header">
                <h2>
                    <i class="fa-solid fa-location-dot"></i>
                    KIAMBU,</h2>
                <p>
                    KENYA
                </p>
            </div>
        </a>

        <a class="places-card ragis-place" routerLink="/farms/1">
            <div class="places-header">
                <h2>
                    <i class="fa-solid fa-location-dot"></i>
                    NYERI,</h2>
                <p>
                    KENYA
                </p>
            </div>
        </a>

        <a class="places-card ndaroini-place" routerLink="/farms/1">
            <div class="places-header">
                <h2>
                    <i class="fa-solid fa-location-dot"></i>
                    KIRINYAGA,</h2>
                <p>
                    KENYA
                </p>
            </div>
        </a>

        <a class="places-card ndaroini-place" routerLink="/farms/1">
            <div class="places-header">
                <h2>
                    <i class="fa-solid fa-location-dot"></i>
                    MERU,</h2>
                <p>
                    KENYA
                </p>
            </div>
        </a>

        <a class="places-card ndaroini-place" routerLink="/farms/1">
            <div class="places-header">
                <h2>
                    <i class="fa-solid fa-location-dot"></i>
                    MURANG'A,</h2>
                <p>
                    KENYA
                </p>
            </div>
        </a>

        <a class="places-card ndaroini-place" routerLink="/farms/1">
            <div class="places-header">
                <h2>
                    <i class="fa-solid fa-location-dot"></i>
                    RIFT VALLEY,</h2>
                <p>
                    KENYA
                </p>
            </div>
        </a>
    </div>
</section>

<app-footer></app-footer>