/* :host ::ng-deep #header {
  background-color: #f6f6f6;
} */

:host ::ng-deep #header .navbar .active,
:host ::ng-deep #header .navbar-mobile .active {
  background-color: transparent;
  color: #000000;
}

:host ::ng-deep #header .navbar .trip-link,
:host ::ng-deep #header .navbar-mobile .trip-link,
:host ::ng-deep #header .navbar .active:hover,
:host ::ng-deep #header .navbar-mobile .active:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

:host ::ng-deep #header.header-scrolled .navbar li:hover>a,
:host ::ng-deep #header.header-scrolled .navbar .trip-link,
:host ::ng-deep #header.header-scrolled .navbar .active:hover,
:host ::ng-deep #header.header-scrolled .navbar .trip-link {
  background-color: #eccece;
}

:host ::ng-deep #header .navbar .dropdown ul a:hover {
  background-color: transparent;
}

:host ::ng-deep #header .navbar .cart a:hover,
:host ::ng-deep #header.header-scrolled .navbar .cart a:hover {
  background-color: transparent;
}

.farm-item {
  height: 350px;
}

swiper-container {
  height: 100%;
}

.trip-container .farm-story i {
  color: orange;
}

.itinerary {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.itinerary a {
  font-size: 1.5rem;
  color: #0000ffba;
  text-decoration: underline;
  cursor: pointer;
}

.fa-file-pdf {
  color: red;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .trip-container .modal-contents {
    padding: 5px;
  }

  .trip-container .farm-info .farmer-images,
  .farm-item {
    height: 300px;
  }
}