<app-navbar></app-navbar>

<section class="trip-container">
    <!-- HERO SECTION -->
    <div class="triphero-container">
        <!-- <video src="../../../assets/Video/trip2.mp4" autoplay loop playsinline muted [disablePictureInPicture]="true" preload="auto"></video> -->

        <div class="trip-content">
            <div class="trip-header">
                <h2>Embark on a journey to the Coffee Cradle!</h2>
            </div>
            
            <!-- <div class="trip-text">
                <p><i class="fa-regular fa-calendar"></i> &nbsp; November 5th - 11th</p>
                <p><i class="fa-solid fa-location-dot"></i> &nbsp; Nyeri, Kenya</p>
            </div> -->

            <div class="register-btn">
                <a href="">BOOKING CLOSED</a>
            </div>
        </div>
    </div>

    <!-- TRIP PLACES -->
    <div class="places">
        <div class="places-card farm-place">
            <div class="places-header">
                <h2>FARM TOURS</h2>
                <p>Visit coffee farms to see one of the best coffees in the world.</p>
            </div>
        </div>

        <div class="places-card bonus-place">
            <div class="places-header">
                <h2>BONUS TOURS</h2>
                <p>Get a chance to see Kenya's wildlife.</p>
            </div>
        </div>

        <a class="places-card geralds-place" routerLink="/trip-details">
            <div class="places-header">
                <h2>JANUARY TRIP</h2>
                <button type="button">BOOK NOW</button>
            </div>
        </a>

        <a class="places-card ragis-place" routerLink="/trip-details">
            <div class="places-header">
                <h2>JULY TRIP</h2>
                <button type="button">BOOK NOW</button>
            </div>
        </a>

        <a class="places-card ndaroini-place" routerLink="/trip-details">
            <div class="places-header">
                <h2>NOVEMBER TRIP</h2>
                <button type="button">BOOK NOW</button>
            </div>
        </a>
    </div>

    <!-- TRIP PURPOSE SECTION -->
    <div class="trip-purpose">
        <div class="purpose-header">
            <h2>Go direct to source</h2>
            <!-- <p>Connect directly with producers of the elusive Nyeri cup judged by coffee connoisseurs as one of the best in the world.</p> -->
        </div>

        <div class="purpose-list">
            <div class="purpose-card meetfarmer">
                <div class="purpose-content">
                    <h2>Meet the farmers</h2>
                    <!-- <p>Put a face to the coffee you buy by connecting directly with amazing farmers</p> -->
                </div>
            </div>
            <!-- 
            <div class="purpose-card farmer-image">
                <img src="https://img.freepik.com/premium-photo/portrait-female-african-farmer_216356-738.jpg?w=740" alt="">
            </div> -->

            <!-- <div class="purpose-card process-image">
                <img src="https://img.freepik.com/free-photo/colorful-cogwheels-arrangement-top-view_23-2149382397.jpg?size=626&ext=jpg&ga=GA1.1.771609611.1699605036&semt=sph" alt="">
            </div> -->

            <div class="purpose-card process">
                <!-- <div class="purpose-icon">
                    <i class="fa-solid fa-gears"></i>
                </div> -->
                <div class="purpose-content">
                    <h2>Learn the process</h2>
                    <!-- <p>Get your hands dirty as you learn how your coffee is grown and prepared</p> -->
                </div>
            </div>

            <div class="purpose-card taste">
                <div class="purpose-content">
                    <h2>Taste their coffees</h2>
                    <!-- <p>The Nyeri Orgin Trip is a cuppers paradise with countless samples to taste</p> -->
                </div>
            </div>
            
            <!-- <div class="purpose-card tasting-image">
                <img src="https://img.freepik.com/free-photo/girl-having-cup-coffee-enjoying-taste_144627-67507.jpg?w=740&t=st=1699609828~exp=1699610428~hmac=c7d52240b13a9fc96e1feeb0fb0f5de11496eaf2053da30139dac5bf6cf6a57d" alt="">
            </div> -->

            <!-- <div class="purpose-card relations-image">
                <img src="https://img.freepik.com/free-photo/business-collaboration-success-by-handshake_23-2148339368.jpg?w=740&t=st=1699611729~exp=1699612329~hmac=23a2f2ac220a2b29b3ad23bf2e1e01e8b4d176af43cd8a637812f5b375dbede4" alt="">
            </div> -->

            <div class="purpose-card relations">
                <div class="purpose-content">
                    <h2>Create direct relationships</h2>
                    <!-- <p>Remove the veil between you and farmers and build lasting direct relationships</p> -->
                </div>
            </div>

            
        </div>
    </div>

    <!-- EXPENSES SECTION -->
    <div class="expenses">
        <div class="expenses-header">
            <h2>Expenses Paid Trip</h2>
        </div>

        <div class="expenses-content">
            <div class="expenses-image">
                <img src="https://img.freepik.com/free-vector/tropical-vacation-air-travel-service-composition_98292-6990.jpg?size=626&ext=jpg&ga=GA1.1.47500303.1698056812&semt=sph" alt="travel bag">
            </div>

            <div class="expenses-info">
                <div class="covered">
                    <h2>Costs covered</h2>
                    <ul>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Arrival and departure airport transfers</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Seven days full board accommodation</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Eight days transport in custom-built safari tour vans</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Coffee tours (Farm tours, factory tours, mill tours)</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;NICE 2023 expo conference and exhibition attendance</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Cupping sessions for selected coffees from Nyeri's best producers</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Business to business sessions with producers of choice</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;Game drive, safari walk & guided pre-departure shopping tour</li>
                        <li><i class="fa-solid fa-check"></i>&nbsp;English speaking professional guide/driver</li>
                    </ul>
                </div>
        
                <div class="not-covered">
                    <h2>Costs not covered</h2>
                    <ul>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;International Airfares</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Tourist entry Visa to Kenya</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Travel/Personal/Baggage Insurance (Recommended)</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;International airport departures taxes</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Optional excursions not mentioned</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Expenses of a personal nature e.g. internet, laundry etc.</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;All alcoholic drinks, wines and spirits.</li>
                        <li><i class="fa-solid fa-xmark"></i>&nbsp;Tips and gratuities to driver guides/lodge/hotel staff</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <!-- FARMERS SECTION -->
    <div class="meet-farmers">
        <div class="meetfarmers-header">
            <h2>Meet the farmers</h2>
        </div>
        
        <div class="farmers-list">
            <div class="farmerlist-card" *ngFor="let data of farmerData">
                <h2>{{data.farmName}}</h2>
                <button type="button" (click)="toggleModal()">View Farm Details</button>
            </div>

            <div class="farmerlist-card" *ngFor="let data of farmerData2">
                <h2>{{data.farmName}}</h2>
                <button type="button" (click)="toggleModal2()">View Farm Details</button>
            </div>

            <div class="farmerlist-card" *ngFor="let data of farmerData3">
                <h2>{{data.farmName}}</h2>
                <button type="button" (click)="toggleModal3()">View Farm Details</button>
            </div>

            <div class="farmerlist-card" *ngFor="let data of farmerData4">
                <h2>{{data.farmName}}</h2>
                <button type="button" (click)="toggleModal4()">View Farm Details</button>
            </div>
        </div>
    </div>

    <!-- farmer modal -->
    <div class="farmers-content" *ngIf="isModalOpen" class="modals">
        <div class="farmer-card modal-contents" *ngFor="let data of farmerData">
            <span class="modal-close" (click)="toggleModal()">
                <i class="fa-solid fa-x"></i>
            </span>

            <div class="farm-name">
                <h2>{{data.farmName}}</h2>
            </div>

            <div class="farm-info">

                <div class="farmer-images ndaroini-images">
                    <swiper-container slides-per-view=1 navigation="true" pagination="true" pagination-clickable="true" loop="true"
                        autoplay="true" autoplay-delay="3000" autoplay-pause-on-mouse-enter="true" autoplay-disable-on-interaction="false"
                        space-between="10" class="mobile">
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl1}} alt="farm">                    
                            </div>
                        </swiper-slide>
                    
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl2}} alt="farm">
                            </div>
                        </swiper-slide>
                    </swiper-container>

                    <!-- <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src={{data.imageUrl1}} alt="farm">
                        </div>
              
                        <div class="swiper-slide">
                            <img src={{data.imageUrl2}} alt="farm">
                        </div>
                    </div>
              
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                </div>
                
                <div class="farm-story">
                    <p>
                        <i class={{data.rating[0]}}></i>
                        <i class={{data.rating[1]}}></i>
                        <i class={{data.rating[2]}}></i>
                        <i class={{data.rating[3]}}></i>
                        <i class={{data.rating[4]}}></i>
                    </p>
                    <p>{{data.story}}</p>
                </div>
            </div>      
        </div>
    </div>

    <!-- farmer modal2 -->
    <div class="farmers-content" *ngIf="isModalOpen2" class="modals">
        <div class="farmer-card modal-contents" *ngFor="let data of farmerData2">
            <span class="modal-close" (click)="toggleModal2()">
                <i class="fa-solid fa-x"></i>
            </span>

            <div class="farm-name">
                <h2>{{data.farmName}}</h2>
            </div>

            <div class="farm-info">

                <div class="farmer-images geralds-images">
                    <swiper-container slides-per-view=1 navigation="true" pagination="true" pagination-clickable="true" loop="true"
                        autoplay="true" autoplay-delay="3000" autoplay-pause-on-mouse-enter="true" autoplay-disable-on-interaction="false"
                        space-between="10" class="mobile">
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl1}} alt="farm">                    
                            </div>
                        </swiper-slide>
                    
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl2}} alt="farm">
                            </div>
                        </swiper-slide>
                    </swiper-container>
                </div>
                
                <div class="farm-story">
                    <p>
                        <i class={{data.rating[0]}}></i>
                        <i class={{data.rating[1]}}></i>
                        <i class={{data.rating[2]}}></i>
                        <i class={{data.rating[3]}}></i>
                        <i class={{data.rating[4]}}></i>
                    </p>
                    <p>{{data.story}}</p>
                </div>
            </div>      
        </div>
    </div>

    <!-- farmer modal3 -->
    <div class="farmers-content" *ngIf="isModalOpen3" class="modals">
        <div class="farmer-card modal-contents" *ngFor="let data of farmerData3">
            <span class="modal-close" (click)="toggleModal3()">
                <i class="fa-solid fa-x"></i>
            </span>

            <div class="farm-name">
                <h2>{{data.farmName}}</h2>
            </div>

            <div class="farm-info">

                <div class="farmer-images ragis-images">
                    <swiper-container slides-per-view=1 navigation="true" pagination="true" pagination-clickable="true" loop="true"
                        autoplay="true" autoplay-delay="3000" autoplay-pause-on-mouse-enter="true" autoplay-disable-on-interaction="false"
                        space-between="10" class="mobile">
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl1}} alt="farm">                    
                            </div>
                        </swiper-slide>
                    
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl2}} alt="farm">
                            </div>
                        </swiper-slide>
                    </swiper-container>
                </div>
                
                <div class="farm-story">
                    <p>
                        <i class={{data.rating[0]}}></i>
                        <i class={{data.rating[1]}}></i>
                        <i class={{data.rating[2]}}></i>
                        <i class={{data.rating[3]}}></i>
                        <i class={{data.rating[4]}}></i>
                    </p>
                    <p>{{data.story}}</p>
                </div>
            </div>      
        </div>
    </div>

    <!-- farmer modal4 -->
    <div class="farmers-content" *ngIf="isModalOpen4" class="modals">
        <div class="farmer-card modal-contents" *ngFor="let data of farmerData4">
            <span class="modal-close" (click)="toggleModal4()">
                <i class="fa-solid fa-x"></i>
            </span>
            
            <div class="farm-name">
                <h2>{{data.farmName}}</h2>
            </div>

            <div class="farm-info">

                <div class="farmer-images jungle-images">
                    <swiper-container slides-per-view=1 navigation="true" pagination="true" pagination-clickable="true" loop="true"
                        autoplay="true" autoplay-delay="3000" autoplay-pause-on-mouse-enter="true" autoplay-disable-on-interaction="false"
                        space-between="10" class="mobile">
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl1}} alt="farm">                    
                            </div>
                        </swiper-slide>
                    
                        <swiper-slide class="slide-content">
                            <div class="farm-item">
                                <img src={{data.imageUrl2}} alt="farm">
                            </div>
                        </swiper-slide>
                    </swiper-container>
                </div>
                
                <div class="farm-story">
                    <p>
                        <i class={{data.rating[0]}}></i>
                        <i class={{data.rating[1]}}></i>
                        <i class={{data.rating[2]}}></i>
                        <i class={{data.rating[3]}}></i>
                        <i class={{data.rating[4]}}></i>
                    </p>
                    <p>{{data.story}}</p>
                </div>
            </div>      
        </div>
    </div>

     <!-- CUPPING -->
     <div class="cupping-container">
        <div class="cupping-text">
            <p>Get a chance to cup all of Nyeri's finest coffees. Order and purchase the coffees you like directly from farmers during the trip.</p>
            <button type="button" (click)="showTripRegisterDialog()">BOOK NOW</button>
        </div>
        
        <div class="cupping-image">      
                <!-- <div class="cupping-card image-one">
                    <img src="https://images.pexels.com/photos/13806389/pexels-photo-13806389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="farm">
                </div>
      
                <div class="cupping-card image-two">
                    <img src="../../../assets/img/Trip/cupping2.webp" alt="coffee drinker">
                </div>

                <div class="cupping-card image-three">
                    <img src="https://images.pexels.com/photos/9455933/pexels-photo-9455933.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="coffee drinker">
                </div> -->
        </div>     
    </div>

    <!-- TIPS -->
    <div class="tips-container" id="tips">
        <div class="tips-header">
            <h2>Tips to help you make the most of your trip.</h2>
        </div>
        
        <div class="tips-content">
            <div class="tips-card customer">
                <div class="card-header">
                    <h2>Customers first</h2>
                </div>
                <div class="card-text">
                    <p>gain valuable information and knowledge that will enrich the experience you give to your customers. Come ready to learn and keep your customers in mind throughout the trip.</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/1605/1605401.png?track=ais" alt="unity icon">
                    <!-- <span>01</span> -->
                </div>
            </div>
    
            <div class="tips-card rship">
                <div class="card-header">
                    <h2>Build relationships</h2>
                </div>
                <div class="card-text">
                    <p>form relationships with partners who can guarantee you a consistent high quality cup while empowering farmers in the process</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/8720/8720721.png?track=ais" alt="icon showing two people">
                    <!-- <span>02</span> -->
                </div>
            </div>
    
            <div class="tips-card timing">
                <div class="card-header">
                    <h2>Timing</h2>
                </div>
                <div class="card-text">
                    <p>The best time for an origin trip is harvest time, and that’s when the Nyeri origin trip happens (in November). It’s an extremely busy time with vast amount of work that will expose you to a very crucial part of the coffee chain that you would not want to pass.</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/2773/2773164.png?track=ais" alt="icon showing timer">
                    <!-- <span>03</span> -->
                </div>
            </div>
    
            <div class="tips-card grind">
                <div class="card-header">
                    <h2>Be ready for the grind</h2>
                </div>
                <div class="card-text">
                    <p>Coffee travel exposes you to bumpy roads, getting dirty cherry picking and meeting many people who don’t speak your language. But with a good adventurous spirit all the grind goes to making a most rewarding experience</p>
                </div>
                <div class="card-icon">
                    <img src="https://cdn-icons-png.flaticon.com/128/3319/3319348.png?track=ais" alt="icon showing farm">
                    <!-- <span>04</span> -->
                </div>
            </div>
        </div>
        
    </div>

    <!-- checklist -->
    <div class="checklist-container">
        <div class="checklist-header">
            <h2>Ready now! Here are a few things to carry:</h2>
        </div>

        <div class="checklist-list">
            <ul>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Bug Repellent – to keep the little pests you encounter at bay</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Suitable Clothing – to protect you from elements of weather</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Medication and Health Products – to cushion your body from the shock of new foods, water and weather</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;A Good Camera – to back up your story</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Local currency – credit cards and ATMs don’t count on the farm</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Gifts – to show your appreciation and build friendship</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Altimeter – it’s fun tracking the elevation along your journey and learning how it changes the coffee</li>
                <li><i class="fa-regular fa-circle-check"></i>&nbsp;Research – in addition to our information package, it’s good to do your research to strengthen your purpose</li>
            </ul>
        </div>
    </div>


    <!-- ITINERARY -->
    <div class="itinerary">
        <h2>Origin Trip Itinerary</h2>
        <a href="../../../assets/docs/itinerary/2023 Nyeri Origin Trip flier.pdf" download="Nyeri Origin Trip Itinerary" id="itinerary">
            Download Nyeri Origin Trip Itinerary
            &nbsp;&nbsp;
            <i class="fa fa-file-pdf"></i>
        </a>
    </div>
    
</section>


<app-footer></app-footer>

