.signup-container {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container h3 {
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.signup-container form .input-card {
    margin-bottom: 20px;
}

.signup-container form .input-card.signup-confirmpass {
    margin-bottom: 0px;
}

.signup-container form input {
    width: 100%;
    border: 1px solid #8080807a;
    border-radius: 4px;
    height: 35px;
    padding-inline: .5rem;
}

/* input animations */
.label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
    transition: all .1s linear;
  }

  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 2px 5px;
    box-sizing: border-box;
    transition: all .1s linear;
  }
  
  .label-float input:required:invalid + label {
    color: #000000b7;
  }

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    color: #000000b7;
  }
  
  .signup-container form .input-card.signup-visibility {
    display: flex;
    margin-bottom: 10px;
  }

  .signup-container #myInput {
    width: 20px;
    height: 20px;
}



.signup-container form button {
    width: 100%;
    background-color: black;
    color: #fff;
    border-radius: 0;
    height: 45px;
    font-size: 1.2rem;
}

.signup-container form .signup-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.signup-container form .signup-extras p.terms-text {
    font-size: 15px;
}

.signup-container form .signup-extras p a {
    color: blue;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.signup-container form .signup-extras p a.login-link {
    font-weight: bold;
}

.signup-container form .signup-extras p a:hover {
    text-decoration: underline;
}

.signup-container form input:focus {
    border: 1px solid #0000ff59;
    box-shadow: none;
}

@media (max-width: 375px) {
    .signup-container {
        padding: 5px;
    }
}