<app-navbar></app-navbar>

<section class="shop-component">
    <div class="products">
      <!-- sidebar -->
      <div class="sidebar">
        <app-productsnavbar (dataToParent)="handleDataFromChild($event)"></app-productsnavbar>
        
        <div>
          <div class="widget-title" (click)=toggleVarietyOn() >
            <h2>Coffee Profile&nbsp;
              <i *ngIf="!isShowVariety" class="fa-solid fa-chevron-down"></i>
              <i *ngIf="isShowVariety" class="fa-solid fa-chevron-up"></i>
            </h2>
          </div>
          <!-- <input type="hidden" id="previous_select"> -->
          <ul *ngIf="isShowVariety">
            <li class="customRadio">
              <input type="radio" value="Variety1" id="Variety1" name="variety"  />
              <label for="Variety1"><span><span></span></span>Bright acidity</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety2" name="variety"  />
              <label for="Variety2"><span><span></span></span>Lemon</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety3" name="variety"  />
              <label for="Variety3"><span><span></span></span>Blackcurrant</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety4" name="variety"  />
              <label for="Variety4"><span><span></span></span>Chocolatey</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety5" name="variety"  />
              <label for="Variety5"><span><span></span></span>Raspberry</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="Variety2" id="Variety6" name="variety"  />
              <label for="Variety6"><span><span></span></span>Fruity</label>
            </li>
          </ul>
        </div>

        <div>
          <div class="widget-title" (click)=toggleFarmsOn()>
            <h2>Coffee Origin&nbsp;
              <i *ngIf="!isShowFarms" class="fa-solid fa-chevron-down"></i>
              <i *ngIf="isShowFarms" class="fa-solid fa-chevron-up"></i>
            </h2>
          </div>
          <!-- <input type="hidden" id="previous_select"> -->
          <ul *ngIf="isShowFarms">
            <li class="customRadio">
              <input type="radio" value="farm1" id="farm1"  name="farm" />
              <label for="farm1"><span><span></span></span>Kiambu</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm2" name="farm" />
              <label for="farm2"><span><span></span></span>Nyeri</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm3" name="farm" />
              <label for="farm3"><span><span></span></span>Kirinyaga</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm4" name="farm"  />
              <label for="farm4"><span><span></span></span>Meru</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm5" name="farm" />
              <label for="farm5"><span><span></span></span>Murang'a</label>
            </li>

            <li class="customRadio">
              <input type="radio" value="farm2" id="farm6" name="farm"  />
              <label for="farm6"><span><span></span></span>Rift Valley</label>
            </li>
          </ul>
        </div>

        <div>
          <div class="widget-title"(click)=togglePriceOn()>
            <h2>Special Products&nbsp;
              <i *ngIf="!isShowPrice" class="fa-solid fa-chevron-down"></i>
              <i *ngIf="isShowPrice" class="fa-solid fa-chevron-up"></i>
            </h2>
          </div>
          <!-- <input type="hidden" id="previous_select"> -->
          <ul *ngIf="isShowPrice">
            <li class="customRadio">
              <input type="radio" value="farm1" id="price1" name="price"/>
              <label for="price1"><span><span></span></span>Pods</label>
            </li>

          <li class="customRadio">
            <input type="radio" value="farm1" id="price2" name="price" />
            <label for="price2" ><span><span></span></span>Decaf</label>
          </li>

          <li class="customRadio">
            <input type="radio" value="farm2" id="price3" name="price" />
            <label for="price3"><span><span></span></span>Cold brew</label>
          </li>
          </ul>
        </div>

      </div>

      <!-- products grid list -->
      <div class="productlist">

        <div *ngIf="filteredProducts == null" class="productlist-content">
          <!-- paginate: { itemsPerPage: itemsPerPage, currentPage: p } -->
          <div class="product-card"  *ngFor="let item of products" data-aos="fade-up">

            
            <a routerLink="/Products/{{item.id}}" class="product-item">
              <div class="product-image">
                  <img src="{{cloudinaryUrl}}{{item.img}}" alt="package">
              </div>

              <div class="product-name">
                <div class="name">
                  <p>{{item.product.name}}</p>
                </div>
                  
                <div class="rating">
                  <p *ngIf=" averageRating(item) == 5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 4">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 1">
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 0">
                    
                  </p>
                </div>
              </div>

              <div class="farm-name">
                <p>Producer: Kiaragana Coffee Factory</p>
              </div>

              <div class="product-details">
                  <p>Origin: {{item.product.origin | titlecase}}</p>
                  <p>{{item.price | currency:'USD'}} / 12oz</p>
              </div>

            </a>

            <div class="latestadd-actions product-addactions">
              <a role="button" (click)="showAddtocartDialog('500ms', '500ms')">
                Add To Cart <i class="fa-solid fa-cart-arrow-down"></i>
              </a>
              <a role="button" title="wishlist">
                  <i class="fa-solid fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div *ngIf="filteredProducts != null" class="productlist-content">
          <!-- paginate: { itemsPerPage: itemsPerPage, currentPage: p } -->
          <div class="product-card"  *ngFor="let item of filteredProducts" data-aos="fade-up">

            
            <a routerLink="/Products/{{item.id}}" class="product-item">
              <div class="product-image">
                  <img src="{{cloudinaryUrl}}{{item.img}}" alt="package">
              </div>

              <div class="product-name">
                <div class="name">
                  <p>{{item.product.name}}</p>
                </div>
                  
                <div class="rating">
                  <p *ngIf=" averageRating(item) == 5">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 4">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 1">
                    <i class="fa-solid fa-star"></i>
                  </p>
                  <p *ngIf="averageRating(item) == 0">
                    
                  </p>
                </div>
              </div>

              <div class="farm-name">
                <p>Kiaragana Coffee Factory</p>
              </div>

              <div class="product-details">
                  <p>Origin: {{item.product.origin | titlecase}}</p>
                  <p>{{item.price | currency:'USD'}} / 12oz</p>
              </div>

            </a>

            <div class="latestadd-actions product-addactions">
              <a role="button" (click)="showAddtocartDialog('500ms', '500ms')">
                Add To Cart <i class="fa-solid fa-cart-arrow-down"></i>
              </a>
              <a role="button" title="wishlist">
                  <i class="fa-solid fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- <div class="products-pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div> -->
                             
      </div>
    </div>
    


    <!-- modal -->
    <div *ngIf="isModalOpen" class="modals">

      <!-- Modal content -->
      <div class="modal-contents">
        <span class="modal-close" (click)="toggleModal()">
          <i class="fa-solid fa-x"></i>
        </span>

          <div class="product-form">
              <div class="col">
                  <app-tabs [tabsArray]="tabs" (onTabChange)="tabChange($event)"></app-tabs>
              </div>
      
              <div *ngIf="activatedTabIndex == 0" class="roasted">
      
                  <form action="" method="post" ngNativeValidate>
                      <div class="option-list">
                          <select id="packsize" name="packsize" title="packsize" required>
                              <option value="">Choose Pack Size...</option>
                              <option value="18.80|12oz">12oz ($18.80)</option>
                              <option value="46.80|32oz">32oz ($46.80)</option>
                              <option value="68.20|3lbs">3lbs ($68.20)</option>
                              <option value="68.20|3lbs">5lbs ($113.00)</option>
                          </select>
          
                          <select id="grind" name="grind" title="grind" required>
                              <option value="">Choose Grind...</option>
                              <option value="Whole beans">Whole beans</option>
                              <option value="Extra coarse">Extra coarse (Cold brews)</option>
                              <option value="Coarse">Coarse (French press/percolators)</option>
                              <option value="Medium-coarse">Medium-coarse (Chemex/clever drippers)</option>
                              <option value="Medium">Medium (Drip/regular)</option>
                              <option value="Medium-fine">Medium-fine (Pour overs/siphon)</option>
                              <option value="Fine">Fine (Espresso)</option>
                              <option value="Super-fine">Super-fine (Turkish)</option>
                          </select>
          
                          <select id="roast" name="roast" title="roast" required>
                              <option value="">Choose Roast Type...</option>
                              <option value="Light">Light</option>
                              <option value="Medium/light">Medium/light</option>
                              <option value="Medium">Medium</option>
                              <option value="Medium/dark">Medium/dark</option>
                              <option value="Dark">Dark</option>
                          </select>
                      </div>

                      <div class="buttons-list">
                        <div class="radio">
                          <div class="radio1">
                              <input type="radio" id="onetime" name="subscribe" value="one-time" (click)=toggleDivOff2() checked>
                              <label for="onetime">One time purchase</label><br>
                          </div>

                          <div class="radio2">
                              <input type="radio" id="subscribe" name="subscribe" value="subscribed" (click)=toggleDivOn2()>
                              <label for="subscribe">Subscribe & save 10%</label><br>
                          </div>
      
                          <div *ngIf="isShowDiv2">
                              <select id="delivery" name="delivery" title="delivery" required>
                                  <option value="">Choose Delivery Period...</option>
                                  <option value="2 weeks">Deliver every 2 weeks</option>
                                  <option value="3 weeks">Deliver every 3 weeks</option>
                                  <option value="month">Deliver every month</option>
                                  <option value="6 weeks">Deliver every 6 weeks</option>
                                  <option value="2 months">Deliver every 2 months</option>
                              </select>
                          </div>
                      </div>
      
                      <div class="incrdecr">
                          <div (click)=decrement() class="decrement">-</div>
                          <input type="number" name="roasted-quantity" id="roasted-counting" [(ngModel)]="num" (change)="check($event)" title="input-count">
                          <div (click)=increment() class="increment">+</div>
                      </div>
      
                      <div class="submit-btn">
                          <button type="submit">ADD TO CART&nbsp; <i class="fa-solid fa-cart-arrow-down"></i></button>
                          <a routerLink="/Checkout" class="buy">BUY NOW</a>
                      </div>
                      </div>
      
                      
      
                  </form>
              </div>
      
              <div *ngIf="activatedTabIndex == 1" class="green">
                  <div class="packaging">
                      <p>Packaging</p>
                      <p>Grainpro & Outer Jutebag</p>
                  </div>
      
                  <div class="price-lb">
                      <p>Price/Lb</p>
      
                      <div class="lb">
                          <p>1 - 660 lbs</p>
                          <p>660lbs +</p>
                      </div>
      
                      <div class="lb-price">
                          <p>- $7.70</p>
                          <p>- $6.93</p>
                      </div>
                  </div>
      
                  <form action="/" method="post" ngNativeValidate>
                      <div class="radio">
                          <div class="radio1">
                              <input type="radio" id="onetime" name="subscribe" value="one-time" (click)=toggleDivOff() checked>
                              <label for="onetime">One time purchase</label><br>
                          </div>

                          <div class="radio1">
                              <input type="radio" id="subscribe" name="subscribe" value="subscribed" (click)=toggleDivOn()>
                              <label for="subscribe">Subscribe & save 10%</label><br>
                          </div>

                          <div *ngIf="isShowDiv">
                              <select id="delivery2" name="delivery" title="delivery" required>
                                  <option value="">Choose Delivery Period...</option>
                                  <option value="2 weeks">Deliver every 2 weeks</option>
                                  <option value="3 weeks">Deliver every 3 weeks</option>
                                  <option value="month">Deliver every month</option>
                                  <option value="6 weeks">Deliver every 6 weeks</option>
                                  <option value="2 months">Deliver every 2 months</option>
                              </select>
                          </div>
                      </div>
      
                      <div class="incrdecr">
                          <div (click)=decrement2() class="decrement">-</div>
                          <input type="number" name="green-quantity" id="green-counting" [(ngModel)]="num2" (change)="check2($event)" title="input-count">
                          <div (click)=increment2() class="increment">+</div>
                      </div>
      
                      <div class="submit-btn">
                          <button type="submit">ADD TO CART&nbsp; <i class="fa-solid fa-cart-arrow-down"></i></button>
                          <a routerLink="/Checkout" class="buy">BUY NOW</a>
                      </div>
      
                  </form>
      
              </div>
          </div>

      </div>
    
    </div>
    <!-- end of modal -->

    <app-footer></app-footer>
</section>