:host ::ng-deep #header .navbar .active,
:host ::ng-deep #header .navbar-mobile .active {
  background-color: transparent;
  color: #000000;
}


.attribution-component .attribution-hero {
    height: 400px;
    background-image: url("../../../assets/img/atrribution/attrib.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution-component .attribution-content {
    width: 80%;
    margin-inline: auto;
    padding: 3rem 1rem;
}

.attribution-component .attribution-content .attribution-list li {
    list-style-type: disc;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .attribution-component .attribution-content {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .attribution-component .attribution-content {
        width: 95%;
    }
}