<section class="dashheader-container">
    <div class="nav-header">
        <div class="logo">
            <div>
                <img src="../../../../assets/img/coffee_logo2.png" alt="coffee beans">
            </div>
        </div>
    </div>

    <div class="nav-links">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link" data-bs-toggle="dropdown">
                <i *ngIf="data" class="bi bi-bell-fill me-lg-2" value=1></i>
                <i *ngIf="!data" class="bi bi-bell-fill me-lg-2" value=1></i>
                <span class="d-none d-lg-inline-flex notifs">Notifications<i class="fa-solid fa-chevron-down"></i></span>
            </a>

            <div class="dropdown-menu dropdown-menu-end border-0 rounded-0 rounded-bottom m-0 notifs-dropdown">
                <div *ngIf="data.length == 0" class="multiplie-notifications">
                    <p class="fw-normal mb-0 text-center">No new notifications</p>
                </div>

                <div *ngIf="data.length > 1" class="multiplie-notifications">
                    <a  *ngFor="let object of data" href="#" class="dropdown-item">
                        <p class="fw-normal mb-0">{{object.message.slice(0,20)}}</p>
                    </a>
                </div>

                <hr class="dropdown-divider">
                <a routerLink="/dash-board/messages" class="dropdown-item text-center">See all notifications</a>
            </div>
        </div>

        <ul class="nav-items">
            <li class="dropdown">
                <a class="user-link">
                    <span>Hello, {{user.user['username'] | titlecase}}</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
                <ul class="dropdown-links">
                    <li><a routerLink="/dash-board">My Profile</a></li>
                    <li><a routerLink="/dash-board/settings">Settings</a></li>
                    <li><a (click)="logOut()">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>