.myaccount-container {
    /* background-color: black; */
    /* height: 100vh; */
    /* border: 2px solid blue; */
    font-family: 'Raleway', sans-serif;
    width: 100%;
    /* padding-inline: 1rem; */

    display: flex;
    flex-direction: column;
    /* gap: .5rem; */

    position: relative;
}
.myaccount-header {
    padding: 2rem;
}
.myaccount-header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.myaccount-content {
    display: flex;
    gap: 8rem;
    padding-inline: 1rem;

    position: absolute;
    top: 5rem;
}
.row{
    width: 100vw;
    
}
.card{
    padding:18px;
    margin:10px;
}

