<div class="changes">
    <h2 mat-dialog-title>Edit farm details</h2>

    <mat-dialog-content>
        <div class="changes">
            <form class="form" id="form" action="" method="POST" ngNativeValidate>
                <!-- HONEYPOT(to catch spammers )  -->
                <input type="text" name="_honey" class="honeypot" title="honeypot">

                <div class="form-controls name" *ngIf="data.id == 1">
                    <input id="{{data.key}}" name="{{data.key}}" [(ngModel)]="change" type="text" required>
                    <label for="{{data.key}}" class="label-name">
                        <span class="content-name">{{data.value}}:</span>
                    </label>
                </div>

                <div class="form-controls name" *ngIf="data.id == 2">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 3">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 4">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 5">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 6">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 7">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 8">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 9">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 10">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 11">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 12">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 13">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 14">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 15">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 16">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 17">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 18">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 19">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 20">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 21">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 22">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 23">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>

                <div class="form-controls name" *ngIf="data.id == 24">
                    <label for="{{data.key}}" class="block">{{data.value}}:</label><br>
                    <input type="text" [(ngModel)]="change" id="{{data.key}}" name="{{data.key}}" required>
                </div>
            </form>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" mat-dialog-close class="cancel">Cancel</button>
        <button type="submit" (click)="checkData()" mat-dialog-close>Save Changes</button>
    </mat-dialog-actions>
</div>

